@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  --scissors-1: 39deg 89% 49%;
  --scissors-2: 40deg 84% 53%;
  --paper-1: 230deg 89% 62%;
  --paper-2: 230deg 89% 65%;
  --rock-1: 349deg 71% 52%;
  --rock-2: 349deg 70% 56%;

/* - Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%) */

/* ### Neutral */
--dark-text: 229deg 25% 31%;
--score-text: 229deg 64% 46%;
--header-outline: 217deg 16% 45%;


/* - Radial Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%) */
  }
}